<div class="jumbotron">
    <h1><b>NFSe Fácil</b></h1>
    <h4><b>API Nota Fiscal Eletrônica de Serviço</b></h4>
    <p class="lead">
        Essa API tem como objetivo a emissão de notas fiscais eletrônica.<br />
        É parte da implementação do trabalho de conclusão de curso (TCC), <br />
        para o curso de Bacharel em Sistemas de Informação (BSI) da faculdade UCL.
    </p>
    <b>Responsáveis:</b>
    <br />
    <a href="mailto:brunoed@ucl.br">Bruno Eduardo de Sousa Brandão</a>
    <br />
    <a href="mailto:everaldocardoso@ucl.br">Everaldo Cardoso de Araújo</a>
    <br />
    <br />
    <b>Fontes no GitHub:</b>
    <br />
    <a href="https://github.com/cardosodearaujo/NFSeFacil" target="_blank">Projeto da API</a>
    <br />
    <a href="https://github.com/Brunoedusb/nfse-serra" target="_blank">Projeto do Aplicativo</a>
</div>
