<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSEntradaPortBinding1" />
                <binding name="WSSaidaPortBinding" />
                <binding name="WSUtilPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.serra.es.gov.br:8080/tbw/services/WSEntrada"
                binding="basicHttpBinding" bindingConfiguration="WSEntradaPortBinding1"
                contract="NFeS_API_Entrada.WSEntrada" name="WSEntradaPort1" />
            <endpoint address="http://apps.serra.es.gov.br:8080/tbw/services/WSSaida"
                binding="basicHttpBinding" bindingConfiguration="WSSaidaPortBinding"
                contract="NFeS_API_Saida.WSSaida" name="WSSaidaPort" />
            <endpoint address="http://apps.serra.es.gov.br:8080/tbw/services/WSUtil"
                binding="basicHttpBinding" bindingConfiguration="WSUtilPortBinding"
                contract="NFeS_API_Util.WSUtil" name="WSUtilPort" />
        </client>
    </system.serviceModel>
</configuration>