<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSSaidaPortBinding" />
                <binding name="WSUtilPortBinding" />
                <binding name="WSInterfacePortBinding" />
                <binding name="WSEntradaPortBinding" />
                <binding name="WSEntradaPortBinding1" />
                <binding name="WSSaidaPortBinding1" />
                <binding name="WSUtilPortBinding1" />
                <binding name="WSInterfacePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.serra.es.gov.br:8080/tbw/services/WSSaida" binding="basicHttpBinding" bindingConfiguration="WSSaidaPortBinding" contract="NFeS.API.Serra.Saida.WSSaida" name="WSSaidaPort" />
            <endpoint address="http://apps.serra.es.gov.br:8080/tbw/services/WSUtil" binding="basicHttpBinding" bindingConfiguration="WSUtilPortBinding" contract="NFeS.API.Serra.Util.WSUtil" name="WSUtilPort" />
            <endpoint address="http://apps.serra.es.gov.br:8080/tbw/services/WSInterface" binding="basicHttpBinding" bindingConfiguration="WSInterfacePortBinding" contract="NFeS.API.Serra.Interface.WSInterface" name="WSInterfacePort" />
            <endpoint address="http://apps.serra.es.gov.br:8080/tbw/services/WSEntrada" binding="basicHttpBinding" bindingConfiguration="WSEntradaPortBinding" contract="NFeS.API.Serra.Entrada.WSEntrada" name="WSEntradaPort" />
            <endpoint address="http://servicos.cariacica.es.gov.br:8080/tbw/services/WSEntrada" binding="basicHttpBinding" bindingConfiguration="WSEntradaPortBinding1" contract="NFeS.API.Cariacica.Entrada.WSEntrada" name="WSEntradaPort1" />
            <endpoint address="http://servicos.cariacica.es.gov.br:8080/tbw/services/WSSaida" binding="basicHttpBinding" bindingConfiguration="WSSaidaPortBinding1" contract="NFeS.API.Cariacica.Saida.WSSaida" name="WSSaidaPort1" />
            <endpoint address="http://servicos.cariacica.es.gov.br:8080/tbw/services/WSUtil" binding="basicHttpBinding" bindingConfiguration="WSUtilPortBinding1" contract="NFeS.API.Cariacica.Util.WSUtil" name="WSUtilPort1" />
            <endpoint address="http://servicos.cariacica.es.gov.br:8080/tbw/services/WSInterface" binding="basicHttpBinding" bindingConfiguration="WSInterfacePortBinding1" contract="NFeS.API.Cariacica.Interface.WSInterface" name="WSInterfacePort1" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>